.information__text {
    font-size: 18px;
    font-weight: normal ;
    font-style: normal;
    margin: 0;
    color: black;
 }

.information__text_type_news {
    color: rgb(185, 122, 122);
}

.information{
    outline: 1px gray solid;
}

.data{
    outline: 1px gray solid;
}

.data__info {
    margin: 20px;
    padding: 10px;
}

.main__information {
    margin-bottom: 20px;
}

.link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}